node_modules

.env

storage/products/*
storage/categories/*
storage/brands/*
storage/users/*
storage/temp/*

!storage/products/.gitkeep
!storage/categories/.gitkeep
!storage/brands/.gitkeep
!storage/users/.gitkeep
!storage/temp/.gitkeep